{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}


{% block title %}
    : {{ query }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-1 nav-bar">
                <a href="/home"><div class="nav-icon-logo"><img src="/static/images/logo.png" width="40px" height="40px"></div></a>
                <a href="/home"><div class="nav-icon"><img src='/static/images/home.png' onmouseover="this.src='/static/images/home-h.png';" onmouseout="this.src='/static/images/home.png';" width="33px" height="33px"></div></a>
                <a href="/explore"><div class="nav-icon"><img src='/static/images/hashtag.png' onmouseover="this.src='/static/images/hashtag-h.png';" onmouseout="this.src='/static/images/hashtag.png'" width="40px" height="40px"></div></a>
                <a href="/notification"><div class="nav-icon"><img src='/static/images/notification.png' onmouseover="this.src='/static/images/notification-h.png';" onmouseout="this.src='/static/images/notification.png'" width="33px" height="33px"></div></a>
                <a href="/chat"><div class="nav-icon"><img src='/static/images/chat.png' onmouseover="this.src='/static/images/chat-h.png';" onmouseout="this.src='/static/images/chat.png'" width="33px" height="33px"></div></a>
                <a href="/user/{{ user }}"><div class="nav-icon"><img src='/static/images/person.png' onmouseover="this.src='/static/images/person-h.png';" onmouseout="this.src='/static/images/person.png'" width="33px" height="33px"></div></a>

                 <a href="/logout"><div class="nav-icon logout-icon"><img src='/static/images/logout.png' onmouseover="this.src='/static/images/logout-h.png';" onmouseout="this.src='/static/images/logout.png'" width="33px" height="33px"></div></a>
            </div>
            <div class="col-1">

            </div>
            <div class="col-8 main-container">
                <div class="row">
                    <div class="col-1 align-self-center back">
                         <a href="javascript:history.go(-1)"><i class="fa fa-arrow-left"></i></a>
                    </div>
                    <div class="col align-self-center">
                        <div class="box-search-2 ">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="col">
                                    <form method="post" action="/search">
                                        <input type="text" name="query" class="search" placeholder="Search" value={{ query }}>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "result-box">
                        {% for result in results %}
                        <hr class="line">
                        <div class="row result">
                            <div class="col-1">
                                <div class="pic profile-search">
                                    <img src="{{ result['profile_path'] }}">
                                </div>
                            </div>
                            <div class="col-8">
                                <a class="link-name" href="/user/{{ result['data'].username }}"><div class="name">{{ result['data'].name}}</div></a>
                                <div class="username">@{{ result['data'].username }}</div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="follow-button">
                                    Following
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr class="line">
                    </div>
                </div>
            </div>

            <div class="col side">
                <div class="heading">Trends</div>
                <div class="box-search">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="col">
                            <form method="post" action="/search">
                                <input type="text" name="query" class="search" placeholder="Search on say.io">
                            </form>
                        </div>
                    </div>
                </div>

                {% for contact in contacts %}
                <div class="row">
                    <div class="col-1 pic-profile">
                        <img class="pic" src="{{ contact['profile_path']}}" height="55px" width="55px">
                    </div>
                    <div class="col-4">
                        <b><div class="content contact">{{ contact["name"]}}</div></b>
                        <dic class="username">@{{contact["username"]}}</dic>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/js/home.js"></script>
{% endblock %}
